/* css topics */
.topics {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  /* min-height: 100vh; */
}

.topics_box {
  border: 1px solid #222020;
  padding: 10px;
  height: 100%;
  /* padding: 10px; */
  background-color: #000;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.topics_box:hover {
  border: 1px solid #494949;
  transform: translateY(-5px);
  transition: 0.5s;
}

.topics_box_h2 {
  font-size: 18px;
}

/* css discover */
.discover {
  padding: 100px 5% 25px;
}

/* .discover_top {
  padding: 100px 5% 0;
} */

/* .discover_bottom {
  padding: 0 5%;
} */

.discover_top_h2 {
  margin-bottom: 15px;
}

.topics_icons {
  color: rgb(200, 255, 0);
}

/* css topics posts */
.topics_posts {
  min-height: 100vh;
  padding: 100px 5%;
}

.topics_posts_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* grid-template-columns: repeat(2, 1fr); */
}

.topics_posts_h2 {
  margin-bottom: 10px;
}

.topics_posts_box {
  border: 1px solid #222020;
  background-color: #000;
  padding: 20px;
  color: #fff;
  border-radius: 10px;
}
